{% extends 'blog/basic.html' %}
{% block css %}

{% endblock %}
{% block body %}

<!-- to load the static material you have to write -->
<!-- {% load static %}
    <a href="{%static 'blog/static.txt' %}"><img src="{% static 'blog/3.PNG' %}" alt="Girl in a jacket" width="500" height="600">Click me</a> -->
<div class="container mt-4">
  <div class="row mb-2">
 
    {% for item in mypost %}

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">{{item.head0}}</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">{{item.title}}</a>
          </h3>
          <div class="mb-1 text-muted">{{item.pub_date}}</div>
          <p class="card-text mb-auto">{{item.chead0}}</p>
          <a href="blogpost/{{item.post_id}}">Continue reading</a>
        </div>
        <!-- <img src="/media/{{item.thumbnail}}"> -->
        <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]"
          style="width: 200px; height: 200px;" src="/media/{{item.thumbnail}}" data-holder-rendered="true">

      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row md-2">
    {% endif %}
    {% endfor %}
  </div> 

  {% endblock %}

  {% block js %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


  {% endblock %}