{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}



{% block body %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">TKart!</h1>
      <p>Tkart Private Limited is an Indian e-commerce company, headquartered in Bikaner, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

        The service competes primarily with TKart India and domestic rival Snapdeal.[5][6] As of March 2017, Tkart held a 39.5% market share in the Indian e-commerce industry.[7] Tkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Tushar Sharma</h2>
        <p>Tushar sharma is the founder of this prestige corporation providing services to thousands of customers for a very long time we have many happy and satisfied customer and a very powerful impact in the e-commerce industry </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}